.postTags {
	margin: 3px;
}
.edited-indicator {
	font-family: "Staatliches", cursive;
}
.postdisplay-title {
	font-family: "Staatliches", cursive;
	font-size: larger;
}
.postdisplay-authorfont {
	font-family: "Open Sans", sans-serif;
}
.latest-taglist {
	margin-right: 1em;
}
.postdisplay-cardactions {
	flex-direction: row-reverse;
}
