/* .guestpost-main {
	background-color: black;
	padding-bottom: 5em;
}
.guestpost-heading {
	color: white;
	text-align: left;
	font-family: "Staatliches", cursive;
} */
.guestpost-Card {
	background-image: url("https://images.unsplash.com/photo-1545431619-92b140e1d334?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
	background-color: rgba(0, 0, 0, 0.105);
	background-blend-mode: screen;
}
.allpost-title {
	font-family: "Open Sans", sans-serif;
}
.allpost-tag-span {
	display: flexbox;
	flex-wrap: wrap;
	flex-flow: row-reverse;
	justify-content: space-around;
}
.allpost-tag {
	margin: 3px;
}
.allpost-font-bold {
	font-family: "Staatliches", cursive;
}
.allpost-emptyComment {
	font-family: "Staatliches", cursive;
	text-align: right;
}
