.authenticate-formik {
	text-align: center;
}

/* .authenticate-formik {
	width: 50%;
	height: 50vh;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
}
.authenticate-formik-form {
	width: 45vw;
	padding: 2em;
}
.authenticate-formik-input {
	align-self: center;
}
 */
